%hgroup
	.one_column
		%h1 Pages
		= link_to "New", new_page_path
		= link_to "View all", pages_path
	.one_column
		%h1 Portfolio
		= link_to "New", "/portfolio/new"
		= link_to "View all" , "/portfolio"
	.one_column
		%h1 Articles
		= link_to "New"
		= link_to "View all"