%hgroup
	.one_column
		%h1 Pages
		= link_to "New", new_page_path
		= link_to "View all", pages_path
	.one_column
		%h1 Portfolio
		= link_to "New", new_portfolio
		= link_to "View all", portfolio
	.one_column
		%h1 Articles
		= link_to "New"
		= link_to "View all"
.one_column
	%ul
		- @pages.each do |page|
			%li
				%h2= page.name
				= link_to "Edit", edit_page_path(page)
				= link_to "Delete", "/pages/#{page.name}/delete"
				%p= truncate(page.body, length: 40)
				- unless page.body
					%p= page.description
.one_column
	%ul
		- @portfolio.each do |item|
			%li
				%h2= item.title
				= link_to "Edit", edit_portfolio_path(item)
				= link_to "Delete", "/portfolio/#{item.slug}/delete"
				%p= truncate(item.body, length: 40)
.one_column
	%ul
		- 1.upto(3) do |number|
			%li
				%h2= "Article nr.#{number}"
				= link_to "Edit"
				= link_to "Delete"
				%p= truncate("Placeholder article for development sake", length: 40)
