= render "admin/header"
.one_column
	%ul
		- @pages.each do |page|
			%li
				%h2= page.name
				= link_to "Edit", edit_page_path(page)
				= link_to "Delete", "/pages/#{page.name}/delete"
				%p= truncate(page.body, length: 40)
				- unless page.body
					%p= page.description
.one_column
	%ul
		- @portfolio.each do |item|
			%li
				%h2= item.title
				= link_to "Edit", edit_portfolio_path(item)
				= link_to "Delete", "/portfolio/#{item.slug}/delete"
				%p= truncate(item.body, length: 40)
.one_column
	%ul
		- 1.upto(3) do |number|
			%li
				%h2= "Article nr.#{number}"
				= link_to "Edit"
				= link_to "Delete"
				%p= truncate("Placeholder article for development sake", length: 40)
