%h1= @title

= form_for page do |f|

	= f.label :name 
	= f.text_field :name 

	= f.label :title 
	= f.text_field :title 

	= f.label :layout 
	= f.text_field :layout 

	= f.label :description 
	= f.text_field :description 

	= f.label :image 
	= f.file_field :image 

	= f.label :body
	= f.text_area :body

	= f.submit