= render "admin/header"


= form_for page do |f|
	.one_column
		= f.label :name 
		= f.text_field :name 

		= f.label :title 
		= f.text_field :title 

		= f.label :description, "Short description" 
		= f.text_field :description 

		= f.label :visible, "Visible in menu"
		= f.check_box :visible

		= f.label :layout, "Page layout"
		= f.select(:layout, ["portfolio", "static", "blog", "contact"])

	.one_column
		= f.label :body
		= f.text_area :body

	.one_column
		= f.label :image 
		= f.file_field :image 


		= f.submit