%h1 Page sitemap
%table
	%th name
	%th title
	%th layout
	%th description
	%th visible
	%th image
	%th body
	%th slug
	- @pages.each do |page|
		%tr
			%td= page.name
			%td= page.title
			%td= page.layout
			%td= page.description
			%td= page.visible
			%td= page.image
			%td= truncate(page.body, :length => 30)
			%td= page.slug
			%td= button_to "Delete", page, :method => :delete

=link_to "Create new page", new_page_path



