%article.one_column
	%h1= item.title
	!= simple_format(item.body)
	- if item.involvement
		%h2 Work
		- item.involvement.each do |w|
			%li= w

	- if item.links
		%h2 Links
		- item.links.each do |l|
			- shown_link = l.sub(/^https?\:\/\//, '').sub(/^www./,'')
			- link = l.include?("www") ? l : "/view/"+l
			%li
				%a{href: link, target: "_blank"}= shown_link
- if item.image
	%img.two_columns{src: image_path(item.slug+".jpg")}

= render "pages/portfolio"