%article.one_column
	%h1= item.title
	!= simple_format(item.body)
	- if item.involvement
		%h2 Work
		- item.involvement.each do |w|
			%li= w

	- if item.links
		%h2 Links
		- item.links.each do |l|
			- shown_link = l[0]
			- link = l[1]
			- if link.include? "http"
				-	link = "http://"+ link 
			-	else
				-	link = "/view/" + link
			%li
				%a{href: link, target: "_blank"}= shown_link
- if item.video
	.video_container.two_columns
		%video{poster: "/portfolio/images/"+item.slug+".jpg"}
			%source{src: "/portfolio/videos/"+item.slug+".mp4", type: 'video/mp4; codecs: "avc1.42E01E, mp4a.40.2"', autobuffer: true}
			%source{src: "/portfolio/videos/"+item.slug+".webm", type: 'video/webm; codecs="vp8, vorbis"', autobuffer: true}
			= javascript_include_tag "video_controller"
		.video_controller
		.progress_bar
			.time_bar

- elsif item.image
	%img.two_columns{src: image_path(item.slug+".jpg")}

= render "pages/portfolio"